<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <appSettings>
    <clear/>

    <add key="WebServiceFileValueSabre" value="SabreWebService.xml" />
    <add key="ManualApprovalCodeCrediCard" value="111111" />
    <add key="CustomerIdTest" value="23571" />

    <add key="IA.Sabre.Credentials.Domain" value="Default" />
    <add key="IA.Sabre.Credentials.Organization" value="V70C" />
    <add key="IA.Sabre.Credentials.Username" value="5555" />
    <add key="IA.Sabre.Credentials.Password" value="ws071707" />
    <add key="SRV.Sabre.Credentials.Domain" value="Default" />
    <add key="SRV.Sabre.Credentials.Organization" value="V70C" />
    <add key="SRV.Sabre.Credentials.Username" value="7777" />
    <add key="SRV.Sabre.Credentials.Password" value="red5252" />

    <add key="RegularExpression.NameReference" value="(RUC|DNI|D|CE|P)\s{0,}(\w{0,})" />
    <add key="RegularExpression.ValidatingCarrier" value="CARRIER.*\s-\s(\w{2})" />
    <add key="RegularExpression.Tax" value="(\d{0,}.\d{2})(\w+)" />
    <add key="RegularExpression.Remark" value="[\s-]" />
    <add key="RegularExpression.PersonName" value="^(I\/)" />
    <add key="RegularExpression.UpdatePassengers.Docs" value="HK1\/DB\/(\d{2}\w{3}\d{2,4})\/(M|F)\/([\w\s]{0,}\/[\w\s]{0,})" />
    <add key="RegularExpression.UpdatePassengers.Foid" value="HK1\/(NICE|NIPP|NI|CE|PP\w{2})(\w{0,})" />
    <add key="RegularExpression.UpdatePassengers.Inft" value="NN1 \w{0,}\/([\w\s]{0,}\/[\w\s]{0,})\/([0-9]{2}[A-Z]{3}[0-9]{2})" />
    <add key="RegularExpression.eTicketNumber" value="(TE|TV|ME|MV)[\s](\d*/(\d{2})|\d*)-\w{2}(.*.\s)([A-Z0-9]{3}|[A-Z0-9]{4}|)[*]([A-Z0-9]{3})\s(\w{4})/(\d{2}\w{3})" />
    <add key="RegularExpression.RemarksBilling" value="X\/-REF\*(\d+\/\d+)" />
    <add key="RegularExpression.VendorPrefs" value="^(AA|AV|LP|LA)$" />

    <add key="TimeSleep.Seconds" value="4" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AddRemarkSoapBinding1" />
        <binding name="AddRemarkSoapBinding">
          <security mode="Transport" />
        </binding>

        <binding name="AutomatedExchangesSoapBinding1" />
        <binding name="AutomatedExchangesSoapBinding">
          <security mode="Transport" />
        </binding>

        <binding name="ContextChangeSoapBinding1" />
        <binding name="ContextChangeSoapBinding">
          <security mode="Transport" />
        </binding>

        <binding name="DailySalesReportSoapBinding1" />
        <binding name="DailySalesReportSoapBinding" closeTimeout="00:02:00" sendTimeout="00:02:00" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>

        <binding name="EndTransactionSoapBinding1" />
        <binding name="EndTransactionSoapBinding">
          <security mode="Transport" />
        </binding>

        <binding name="IgnoreTransactionSoapBinding1" />
        <binding name="IgnoreTransactionSoapBinding">
          <security mode="Transport" />
        </binding>

        <binding name="SabreCommandLLSSoapBinding1" />
        <binding name="SabreCommandLLSSoapBinding">
          <security mode="Transport" />
        </binding>

        <binding name="DisplayPriceQuoteSoapBinding1" />
        <binding name="DisplayPriceQuoteSoapBinding">
          <security mode="Transport" />
        </binding>

        <binding name="QueueAccessSoapBinding1" />
        <binding name="QueueAccessSoapBinding" closeTimeout="00:02:00" sendTimeout="00:02:00" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>

        <binding name="QueueAnalysisSoapBinding1" />
        <binding name="QueueAnalysisSoapBinding">
          <security mode="Transport" />
        </binding>

        <binding name="QueueCountSoapBinding1" />
        <binding name="QueueCountSoapBinding">
          <security mode="Transport" />
        </binding>

        <binding name="QueuePlaceSoapBinding1" />
        <binding name="QueuePlaceSoapBinding">
          <security mode="Transport" />
        </binding>

        <binding name="OTA_AirPriceSoapBinding1" />
        <binding name="OTA_AirPriceSoapBinding">
          <security mode="Transport" />
        </binding>

        <binding name="TravelItineraryReadSoapBinding1" />
        <binding name="TravelItineraryReadSoapBinding" closeTimeout="00:02:00" sendTimeout="00:02:00" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>

        <binding name="TravelItineraryModifyInfoSoapBinding1" />
        <binding name="TravelItineraryModifyInfoSoapBinding">
          <security mode="Transport" />
        </binding>

        <binding name="ModifyRemarkSoapBinding1" />
        <binding name="ModifyRemarkSoapBinding" closeTimeout="00:02:00" sendTimeout="00:02:00" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>

        <binding name="DesignatePrinterSoapBinding1" />
        <binding name="DesignatePrinterSoapBinding">
          <security mode="Transport" />
        </binding>

        <binding name="ARUNK_SoapBinding1" />
        <binding name="ARUNK_SoapBinding">
          <security mode="Transport" />
        </binding>

        <binding name="SpecialServiceSoapBinding1" />
        <binding name="SpecialServiceSoapBinding">
          <security mode="Transport" />
        </binding>

        <binding name="AirTicketSoapBinding1" />
        <binding name="AirTicketSoapBinding">
          <security mode="Transport" />
        </binding>

        <binding name="SessionCloseSoapBinding1" />
        <binding name="SessionCloseSoapBinding">
          <security mode="Transport" />
        </binding>

        <binding name="SessionCreateSoapBinding1" />
        <binding name="SessionCreateSoapBinding">
          <security mode="Transport" />
        </binding>
        
        <binding name="GetReservationSoapBinding1" />    
        <binding name="GetReservationSoapBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="AddRemarkSoapBinding" contract="Sabre_AddRemarkLLS_211.AddRemarkPortType"
          name="AddRemarkPortType" />

      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="AutomatedExchangesSoapBinding" contract="Sabre_AutomatedExchangesLLS_261.AutomatedExchangesPortType"
          name="AutomatedExchangesPortType" />

      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="ContextChangeSoapBinding" contract="Sabre_ContextChangeLLS_203.ContextChangePortType"
          name="ContextChangePortType" />

      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="DailySalesReportSoapBinding" contract="Sabre_DailySalesReportLLS_200.DailySalesReportPortType"
          name="DailySalesReportPortType" />

      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="EndTransactionSoapBinding" contract="Sabre_EndTransactionLLS_207.EndTransactionPortType"
          name="EndTransactionPortType" />

      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="IgnoreTransactionSoapBinding" contract="Sabre_IgnoreTransactionLLS_200.IgnoreTransactionPortType"
          name="IgnoreTransactionPortType" />

      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="SabreCommandLLSSoapBinding" contract="Sabre_SabreCommandLLS_181.SabreCommandLLSPortType"
          name="SabreCommandLLSPortType" />

      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="DisplayPriceQuoteSoapBinding" contract="Sabre_DisplayPriceQuoteLLS_251.DisplayPriceQuotePortType"
          name="DisplayPriceQuotePortType" />

      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="QueueAccessSoapBinding" contract="Sabre_QueueAccessLLS_208.QueueAccessPortType"
          name="QueueAccessPortType" />

      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="QueueAnalysisSoapBinding" contract="Sabre_QueueAnalysisLLS_200.QueueAnalysisPortType"
          name="QueueAnalysisPortType" />

      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="QueueCountSoapBinding" contract="Sabre_QueueCountLLS_220.QueueCountPortType"
          name="QueueCountPortType" />

      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="QueuePlaceSoapBinding" contract="Sabre_QueuePlaceLLS_204.QueuePlacePortType"
          name="QueuePlacePortType" />

      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="OTA_AirPriceSoapBinding" contract="Sabre_AirPriceLLS_216.OTA_AirPricePortType"
          name="OTA_AirPricePortType" />

      <endpoint address="https://webservices.sabre.com" binding="basicHttpBinding"
          bindingConfiguration="TravelItineraryReadSoapBinding" contract="Sabre_TravelItineraryReadRQ_390.TravelItineraryReadPortType"
          name="TravelItineraryReadPortType" />

      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="TravelItineraryModifyInfoSoapBinding" contract="Sabre_TravelItineraryModifyInfoLLS_211.TravelItineraryModifyInfoPortType"
          name="TravelItineraryModifyInfoPortType" />

      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="ModifyRemarkSoapBinding" contract="Sabre_ModifyRemarkLLS_212.ModifyRemarkPortType"
          name="ModifyRemarkPortType" />

      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="DesignatePrinterSoapBinding" contract="Sabre_DesignatePrinterLLS201.DesignatePrinterPortType"
          name="DesignatePrinterPortType" />

      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="ARUNK_SoapBinding" contract="Sabre_ArunkLLS_202.ARUNK_PortType"
          name="ARUNK_PortType" />

      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
          bindingConfiguration="SpecialServiceSoapBinding" contract="Sabre_SpecialServiceLLS_221.SpecialServicePortType"
          name="SpecialServicePortType" />

      <endpoint address="https://webservices.sabre.com" binding="basicHttpBinding"
          bindingConfiguration="AirTicketSoapBinding" contract="Sabre_EnhancedAirTicket_120.AirTicketPortType"
          name="AirTicketPortType" />

      <endpoint address="https://webservices.sabre.com" binding="basicHttpBinding"
          bindingConfiguration="SessionCloseSoapBinding" contract="Sabre_SessionClose_101.SessionClosePortType"
          name="SessionClosePortType" />

      <endpoint address="https://webservices.sabre.com" binding="basicHttpBinding"
          bindingConfiguration="SessionCreateSoapBinding" contract="Sabre_SessionCreate_100.SessionCreatePortType"
          name="SessionCreatePortType" />
    
      <endpoint address="https://webservices.sabre.com" binding="basicHttpBinding"
          bindingConfiguration="GetReservationSoapBinding" contract="Sabre_GetReservation_1170.GetReservationPortType"
          name="GetReservationPortType" />
    </client>
  </system.serviceModel>
</configuration>