<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Header Servico WEB -->
    <add key="Header.EchoToken" value="1" />
    <add key="Header.Target" value="Production" />
    <add key="Header.Version" value="3" />
    <add key="Header.PrimaryLangID" value="en-us" />
    <!--Servico -->
    <add key="Servico.URL" value="https://ssl00.kiusys.com/ws3/" />
    <!--Credenciales para Servico WEB -->
    <add key="Credentials.Username" value="NUEVOMUNDO" />
    <add key="Credentials.Password" value="nuevomundoreal" />
        <add key="Credentials.PseudoCity" value="LIM" />
    <add key="Credentials.Country" value="PE" />
    <add key="Credentials.Currency" value="USD" />
    <!--Credenciales para Interagencias -->
    <add key="IA.Kiu.Credentials.Agent" value="LIMF35224" />
    <add key="IA.Kiu.Credentials.Terminal" value="LIMF352035" />
    <!--Credenciales para Nuevomundo Viajes -->
    <add key="NMV.Kiu.Credentials.Agent" value="LIMF3510C" />
    <add key="NMV.Kiu.Credentials.Terminal" value="LIMF351004" />
    <!--Interface -->
    <add key="BackOffice" value="\\10.75.102.22\SplKiu" />
  </appSettings>
</configuration>