<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <clear/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    
    <add key="RSAPrivateKey" value=""/>
    <add key="AuthorizedIPClients" value=""/>
    <add key="AuthorizedUsername" value=""/>
    <add key="AuthorizedPassword" value=""/>
    
    <add key="log4net.Internal.Debug" value="false"/>
    <add key="log4net.Config.File" value="log4net.config"/>
    <add key="log4net.AvoidRepeatingExceptions.Enable" value="false"/>
    <add key="log4net.JsonNet.Compress.Enable" value="false"/>
    <add key="log4net.JsonNet.IgnoreMarkedAttrs.Enable" value="false"/>
    <add key="log4net.JsonNet.IgnoreNullAttrs.Enable" value="false"/>
    
    <add key="Globalization.CultureInfo" value="es-PE"/>
    <add key="Globalization.DateSeparator" value="/"/>
    <add key="Globalization.ShortDatePattern" value="dd/MM/yyyy"/>
  </appSettings>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <machineKey 
      validationKey="842BD91CED26008494577D46AD6018931A7292C7E29B0905BAFABF7119C54B6D70206923582D6B581D3186FFE9A7A21980B240CB82ED8BFF374C96BE832E0F5A" 
      decryptionKey="6C9269746970195208C56911E4048B18CF4C1B5C6E6456421BFE18531F788F95" 
      validation="SHA1" 
      decryption="AES"/>
    
    <compilation debug="true" targetFramework="4.6"/>
    
    <httpRuntime targetFramework="4.6"/>

    <authentication mode="None"/>
    
    <customErrors mode="Off"/>
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Routing"/>
      </namespaces>
    </pages>
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
    </modules>

    <!--
    <validation validateIntegratedModeConfiguration="false" />
    -->
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <clear/>
        <!--
        <add
          name="myTrace"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="./Trace/Echo.txt" />
        <remove name="Default" />
        -->
      </listeners>
    </trace>
  </system.diagnostics>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
