<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear/>

    <add key="WebServiceFileValueAmadeus" value="AmadeusWebService.xml" />
  </appSettings>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IB2BWallet_1AWS" />
                <binding name="BasicHttpsBinding_IB2BWallet_1AWS">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>

        <client>
            <endpoint address="http://gds.webfarefinder.com/gds.b2bwallet_1aws/B2BWallet_1AWS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IB2BWallet_1AWS"
                contract="Amadeus_B2BWallet_1AWS.IB2BWallet_1AWS" name="BasicHttpBinding_IB2BWallet_1AWS" />

            <endpoint address="https://gds.webfarefinder.com/gds.b2bwallet_1aws/B2BWallet_1AWS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IB2BWallet_1AWS"
                contract="Amadeus_B2BWallet_1AWS.IB2BWallet_1AWS" name="BasicHttpsBinding_IB2BWallet_1AWS" />
        </client>
    </system.serviceModel>
</configuration>